@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200;300;400;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;
}

.container {
    width:1000px;
    margin: 50px auto;
    padding: 40px 0;
}

.timeline {
    position:relative;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline ul li {
    line-height: normal;
    position: relative;
    width: 50% ;
    padding: 20px 40px;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.timeline .content h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

